In [1]:
from tbparse import SummaryReader
import torch

In [6]:
torch.cuda.set_device(8)

In [8]:
torch.cuda.current_device()

8

In [10]:
device = torch.device('cuda:8')
device

device(type='cuda', index=8)

In [16]:
torch.cuda.set_device(device)

In [19]:
torch.cuda.get_device_properties()

TypeError: get_device_properties() missing 1 required positional argument: 'device'

In [11]:
torch.cuda()

TypeError: 'module' object is not callable

In [2]:
# load one from prompt learning
log_dir = "/mnt/sdg/niallt/saved_models/mimic-tasks/prompt-based-models/logs/icd9_triage/frozen_plm/emilyalsentzer/Bio_ClinicalBERT_tempmanual2_verbsoft0/version_09-02-2022--13-31/"
reader = SummaryReader(log_dir)
df = reader.scalars
print(df)

     step                  tag     value
0      12     train/batch_loss  1.897350
1      25     train/batch_loss  1.481459
2      37     train/batch_loss  1.329389
3      50     train/batch_loss  1.182046
4      62     train/batch_loss  1.096310
..    ...                  ...       ...
779    14         valid/recall  0.912653
780     0   zero_shot/accuracy  0.188840
781     0         zero_shot/f1  0.064474
782     0  zero_shot/precision  0.044349
783     0     zero_shot/recall  0.188840

[784 rows x 3 columns]

2022-02-23 09:33:32.385259: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcusolver.so.11'; dlerror: libcusolver.so.11: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/cuda/extras/CUPTI/lib64:/usr/local/cuda-9.0/lib64
2022-02-23 09:33:32.386043: W tensorflow/core/common_runtime/gpu/gpu_device.cc:1850] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...
2022-02-23 09:33:32.386424: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [3]:
df[df["tag"]=="valid/f1"]

     step       tag     value
735     0  valid/f1  0.878964
736     1  valid/f1  0.889502
737     2  valid/f1  0.888932
738     3  valid/f1  0.897387
739     4  valid/f1  0.890755
740     5  valid/f1  0.909287
741     6  valid/f1  0.906701
742     7  valid/f1  0.908065
743     8  valid/f1  0.908728
744     9  valid/f1  0.908728
745    10  valid/f1  0.908728
746    11  valid/f1  0.908728
747    12  valid/f1  0.908728
748    13  valid/f1  0.908728
749    14  valid/f1  0.908728

In [13]:
'frozen_plm' in log_dir

True

In [15]:
'tempmixed' in log_dir

True

In [4]:
# load one from clinical longformer pipeline

log_dir = "/mnt/sdg/niallt/saved_models/mimic-tasks/bert-based-models/logs/icd9_triage/frozen_plm/emilyalsentzer/Bio_ClinicalBERT/version_22-02-2022--17-31-12/"
reader = SummaryReader(log_dir)
df = reader.scalars
print(df)

      step           tag     value
0       49         epoch  0.000000
1       99         epoch  0.000000
2      149         epoch  0.000000
3      199         epoch  0.000000
4      249         epoch  0.000000
...    ...           ...       ...
3055     5  valid/recall  0.918112
3056     6  valid/recall  0.918433
3057     7  valid/recall  0.920360
3058     8  valid/recall  0.922286
3059     9  valid/recall  0.923571

[3060 rows x 3 columns]

In [5]:
df[df["tag"]=="valid/f1"]

      step       tag     value
3027     0  valid/f1  0.100000
3028     0  valid/f1  0.818529
3029     1  valid/f1  0.881736
3030     2  valid/f1  0.873895
3031     3  valid/f1  0.908225
3032     4  valid/f1  0.912533
3033     5  valid/f1  0.913972
3034     6  valid/f1  0.912850
3035     7  valid/f1  0.915421
3036     8  valid/f1  0.915894
3037     9  valid/f1  0.917973

# TODO 

make funciton that will interatively read in tensorboard events files and split the filename to create certain variables such as 
template type and whether plm was frozen

In [ ]:
def retrieve_tb_logs(log_dir):